<section id="cta-wrapper" class="wrapper">
  <h1>未経験からエンジニアを目指す
    やんばるエキスパートのPHP講座
  </h1>
  <div class="cta-container">
    <div class="cta-inner">
      <%= image_tag "https://d5izmuz0mcjzz.cloudfront.net/php/crown-icon.png" %>
        <h2 class="cta-point">少人数制で
        手厚いサポート</h2>
    </div>
    <!-- cta-inner -->
    <div class="cta-inner">
      <%= image_tag "https://d5izmuz0mcjzz.cloudfront.net/php/crown-icon.png" %>
        <h2 class="cta-point">現場水準の
        チーム開発体制</h2>
    </div>
    <!-- cta-inner -->
    <div class="cta-inner">
      <%= image_tag "https://d5izmuz0mcjzz.cloudfront.net/php/crown-icon.png" %>
        <h2 class="cta-point">地方転職に
        強いスキルセット</h2>
    </div>
    <!-- cta-inner -->
  </div>
  <!-- cta-container -->
  <div class="cta-btn">
    <% if deadline_judge %>
    <h3>＼ <%= end_month_info %>末まで!! 8名限定／</h3>
      <button class="cta-btn" role="link" type="button"><%= image_tag "https://d5izmuz0mcjzz.cloudfront.net/php/triangle.svg" %><span>無期限の転職サポート付き！</span>
          PHP講座を申し込む
      </button>
    <% else %>
      <h3>\次回<%= end_month_info %>24日から募集開始/</h3>
      <a href="https://line.me/R/ti/p/%40fyp8311b" class="l-step cta-btn">LINEで先行情報を入手する</a>
    <% end %>
  </div>
  <!-- cta-btn -->
</section>
<!-- cta-wrapper -->
