<section id="design-course">
  <!-- ヘッダー -->
  <header id="header">
    <div class="container">
      <%= image_tag "design_course/servise-name.png" %>
        <%= link_to "お申し込みはこちら" %>
    </div>
  </header>
  <!-- FV -->
  <section class="fv">
    <%= image_tag "design_course/design-fv.jpg" %>
  </section>

  <!-- webデザイン講座説明 -->
  <section class="course-first-info wrapper">
    <div class="ribon-title">
      <%= image_tag "design_course/title-ribon.png" %>
        <h3>月5万円稼げるまでフルサポートする</h3>
    </div>
    <h2>Webデザイン講座</h2>
    <div class="accent-block"></div>
    <p>たとえば、5万円の自己投資で<br>
      <span>月5万円稼げるスキル</span>が身につくとしたら、あなたはどうしますか？<br>
      <br>
      当講座はそれを実現させる<br>
      <span>コスパ最強の頭おかしい講座</span>となっています。<br><br>
      もし今の収入に合わせ、<span>副業で＋５万円</span>得られるとしたら...
    </p>
    <div class="white-frame">
      <div>
        <%= image_tag "design_course/ora-check-circle-fill.png" %>
        <p>月に1回旅行ができる</p>
      </div>
      <div>
        <%= image_tag "design_course/ora-check-circle-fill.png" %>
        <p>気軽にハーゲンダッツが買える</p>
      </div>
      <div>
        <%= image_tag "design_course/ora-check-circle-fill.png" %>
        <p>ちょっといいお寿司が食べられる</p>
      </div>
    </div>
    <p>
      きっと今よりちょっとだけ贅沢できる生活が手に入るのではないでしょうか？
    </p>
    <h4>
      やんばるエキスパートなら、それが実現できます
    </h4>
    <p class="course-info">
      デザイン経験ゼロの初心者を、デザインのスキル習得から案件獲得まで教え、<span>月5万稼げるまで無期限にサポートする</span>頭おかしい講座。<br>
      <br>
      やんばるエキスパートは、<span>"収入源の０→１"</span>という<br>
      <span>一番しんどい部分</span>を徹底サポートします。
    </p>
    <%= image_tag "design_course/chara-good.png" , class: "chara-good" %>
  </section>

  <section class="intro-wrapper wrapper">
    <h3><span>個人がスキルで稼ぐ</span>時代の到来！</h3>
    <p>副業が解禁になり、より一層<span>”個人が稼ぐ力”</span>が求められる時代が時代になりました。</p>
    <div class="circle-container">
    <div class="circle">
      <%= image_tag "design_course/gray-rectangle.png" , class: "title-img" %>
        <h3>スキルで稼ぐ時代<br>
          こんな悩みありませんか？</h3>
        <div class="before-after">
          <%= image_tag "design_course/chara-bad-mono.png" , class: "chara-img" %>
            <div class="before-after-p">
              <div>
                <%= image_tag "design_course/bi-check-circle-fill.png" %>
                  <p>個人で稼ぐスキルをどうやって身につけるかわからない...</p>
              </div>
              <div>
                <%= image_tag "design_course/bi-check-circle-fill.png" %>
                  <p>副業・スキマ時間で稼ぎたいけど、なにができるんだろうか...</p>
              </div>
              <div>
                <%= image_tag "design_course/bi-check-circle-fill.png" %>
                  <p>もっと自由な環境で働きたい</p>
              </div>
            </div>
        </div>
        <%= image_tag "design_course/ora-arrow.png" , class: "ora-arrow" %>
    </div>


    <div class="circle after-circle">
      <%= image_tag "design_course/ora-rectangle.png" , class: "title-img sp-title" %>
        <h3>そんな悩みは<br>
          やんばるエキスパートで解決！</h3>
        <div class="before-after">
          <div class="before-after-p">
            <div>
              <%= image_tag "design_course/blue-check-circle-fill.png" %>
                <p>副業やフリーランスなど選択肢が広がった！</p>
            </div>
            <div>
              <%= image_tag "design_course/blue-check-circle-fill.png" %>
                <p>ストレスなく自由な環境で働けるようになった</p>
            </div>
            <div>
              <%= image_tag "design_course/blue-check-circle-fill.png" %>
                <p>一生モノのスキルを身につけて、将来の不安がなくなった！</p>
            </div>
          </div>
          <%= image_tag "design_course/chara-happy.png" , class: "chara-img" %>
        </div>
    </div>
    </div>
    <div class="bottom-triangle"></div>
  </section>

  <section class="strongth-wrapper wrapper">
    <h3>やんばるエキスパートが選ばれる<br>
      <span>7</span>の強み
    </h3>
    <div class="strongth-container">
      <div class="white-frame">
        <h6 class="point-number"> 01</h6>
        <%= image_tag "design_course/strong-point1.png" %>
          <h5>実案件を意識した<br>
            カリキュラム</h5>
          <p>やんばるエキスパートでは、学び終えた後を大事にしています。<br><br>

            つまり、ただのスキル取得にならないよう<span>「Webデザインで仕事ができるようになる」</span>ことを最終目標にしています。<br>

            だからこそ、実際の現場に近い形でカリキュラムを学べるよう設計しています。<br><br>

            カリキュラム成果物は<span>そのままポートフォリオ</span>としてご利用頂けます。</p>
      </div>
      <div class="white-frame">
        <h6 class="point-number"> 02</h6>
        <%= image_tag "design_course/strong-point2.png" %>
          <h5>売上5万円稼げるまで<br>
            無期限サポート</h5>
          <p>大事なのはスキルをつけることではなく、その<span>スキルで稼ぐ</span>ことです。<br><br>

            やんばるエキスパートでは実践的なカリキュラムに加え、<span>”売上5万円達成するまで無期限サポート”</span>することでWebデザイナーの一歩をフルサポートします。<br><br>

            ※条件は課題修了後、案件獲得のために週30時間以上活動および週1回進捗報告いただける方です。</p>
      </div>
      <div class="white-frame">
        <h6 class="point-number"> 03</h6>
        <%= image_tag "design_course/strong-point3.png" %>
          <h5>初心者目線の<br>
            挫折しない環境を提供ポート</h5>
          <p><span>「せっかくスクールに通うなら、挫折してお金を無駄にしたくない」</span>、そうお考えの方は多いのではないでしょうか？<br><br>

            やんばるエキスパートは、<span>毎週のミーティング</span>で、頻繁にコミュニケーションがとれます。<br><br>

            日々生まれる学習の悩みを解消し、挫折の大きな原因である<span>「1人で勉強している」という孤独感を軽減</span>し、モチベーション維持に徹底サポートします。</p>
      </div>
      <div class="white-frame">
        <h6 class="point-number"> 04</h6>
        <%= image_tag "design_course/strong-point4.png" %>
          <h5>質問し放題！<br>
            永久サポート</h5>
          <p>やんばるエキスパートは、<span>メンターへ質問し放題かつ受講期間無期限</span>になっています。<br><br>

            スキル取得より<span>”個人のスキルで稼ぐ一歩を踏み出してほしい”</span>という点を重視してるので、ひとりひとりの生活環境に合せたペースで学習できるように期限を設けておりません。
          </p>
      </div>
      <div class="white-frame">
        <h6 class="point-number"> 05</h6>
        <%= image_tag "design_course/strong-point5.png" %>
          <h5>少人数制（20名限定）<br><br> </h5>
          <p>本気でWebデザイナーを目指す方全員に一歩踏み出すために<span>120%のフルサポートできる体制</span>にすべく少人数制にしています。</p>
      </div>
      <div class="white-frame">
        <h6 class="point-number"> 06</h6>
        <%= image_tag "design_course/strong-point6.png" %>
          <h5>プロの添削で<br>
            一気にレベルアップ！</h5>
          <p>学習だけではなく、Webデザインの初心者がやってしまいがちなのがデザインを避けるために<span>現役デザイナーからの添削</span>が受けられます。<br><br>

            自分では気づけない点を現役デザイナーだからこそ、案件獲得する目線での添削を受けることで、最短で成長できます！<br><br>

            ※対象は、LP・コーポレート課題の添削になります。</p>
      </div>
      <div class="white-frame">
        <h6 class="point-number"> 07</h6>
        <%= image_tag "design_course/strong-point7.png" %>
          <h5>オンライン講座だから<br>
            いつでも・どこでもOK！</h5>
          <p><span>パソコン１台とネット環境</span>があれば世界中どこからでも受講いただけます。<br><br>

            そもそもやんばるエキスパートは<span>沖縄発祥</span>です！地方にいながらでも稼げるように考えてます。なので、受講期間中から<span>リモートで働くことを想定した</span>リアルな環境を用意しております。
          </p>
      </div>
    </div>
    <div class="bottom-triangle"></div>
  </section>

  <section class="comparison-wrapper wrapper">
    <div class="comparison-title">
      <%= image_tag "design_course/chara-ok.png" %>
        <h3><span>圧倒的なコンテンツ”</span>と指導で<span>フルサポート</span>する<br>
          <span>コスパ最強の頭おかしい講座</span><br>
          それがやんばるエキスパートです。
        </h3>
    </div>
    <div class="gra-title">
      <h2>Comparison</h2>
      <h5>他社比較</h5>
    </div>
    <div class="comparison-container">
      <div class="comparison-object index">
        <p>料金</p>
        <p>サポート期間</p>
        <p>ツール費用</p>
        <p>営業サポート</p>
      </div>
      <div class="comparison-object service main">
        <h4 class="yanbaru">やんばる<br>エキスパート</h4>
        <p>49,800</p>
        <p>無期限</p>
        <p>無料</p>
        <p class="yanbaru-p">月5万円稼げるまで<br>
          無期限サポート</p>
      </div>
      <div class="comparison-object service">
        <h4>A社</h4>
        <p>298,000</p>
        <p>16週間</p>
        <p>別途月5,680円</p>
        <p>サポートなし</p>
      </div>
      <div class="comparison-object service">
        <h4>B社</h4>
        <p>723,000</p>
        <p>45日間</p>
        <p>別途月5,680円</p>
        <p>サポートなし</p>
      </div>
    </div>
  </section>

  <section class="cta-wrapper wrapper">
    <div class="cta-btn">
      <%= render 'design_application' %>
      <%= image_tag "design_course/deco1.png", class: "deco1" %>
      <%= image_tag "design_course/deco2.png", class: "deco2" %>
      <%= image_tag "design_course/deco3.png", class: "deco3" %>
      <%= image_tag "design_course/deco4.png", class: "deco4" %>
    </div>
  </section>

  <section class="feature-wrapper wrapper">
    <div class="gra-title">
      <h2>Feature</h2>
      <h5>他社との違い</h5>
    </div>
    <div class="features">
      <div class="feature-inner">
        <div class="feature-frame">
          <%= image_tag "design_course/difference1.png" %>
            <h4>案件獲得サポート</h4>
        </div>
        <p><span>未経験から案件獲得したノウハウ</span>をまとめ、デザインスキル習得後の営業・案件獲得までを徹底サポートします。</p>
      </div>
      <h2>＋</h2>
      <div class="feature-inner">
        <div class="feature-frame ora">
          <%= image_tag "design_course/difference2.png" %>
            <h4>マネタイズ戦略</h4>
            <h5>（SNS+ビジネス構築戦略）</h5>
        </div>
        <p>代表かみざとの<span>6年間の経験と総額２００万円以上投資して得た知識</span>を過不足なく凝縮したコンテンツを提供。</p>
      </div>
    </div>
  </section>

  <section class="curriculum-wrapper wrapper">
    <div class="gra-title">
      <h2>Curriculum</h2>
      <h5>講座の内容</h5>
    </div>
    <div class="sp-frame">

      <div class="white-frame">
        <%= image_tag "design_course/curriculum1.png" %>
        <div>
          <h4>01 デザイン基礎知識</h4>
          <ul>
            <li>デザインの四原則</li>
            <li>配色の基本</li>
            <li>フォントの基礎</li>
            <li>レイアウトの基礎</li>
            <li>コーディングの知識</li>
          </ul>
        </div>
      </div>
      <div class="white-frame">
        <%= image_tag "design_course/curriculum2.png" %>
        <div>
          <h4>02 ツールの基本操作</h4>
          <ul>
            <li>Figmaの使い方</li>
            <li>Slackの使い方</li>
            <li>Webツール（素材サイト）</li>
            <li>Webツール（配色・フォント）</li>
          </ul>
        </div>
      </div>
      <div class="white-frame">
        <%= image_tag "design_course/curriculum3.png" %>
        <div>
          <h4>03 【実践】名刺制作</h4>
          <ul>
            <li>Figma操作に慣れよう</li>
            <li>名刺を修正してみよう</li>
            <li>オリジナル名刺を作成使用</li>
          </ul>
        </div>
      </div>
      <div class="white-frame">
        <%= image_tag "design_course/curriculum4.png" %>
        <div>
          <h4>04 【実践】バナー制作</h4>
          <ul>
            <li>バナーを理解しよう</li>
            <li>バナーを制作使用</li>
            <li>課題添削</li>
          </ul>
        </div>
      </div>
      <div class="white-frame">
        <%= image_tag "design_course/curriculum5.png" %>
        <div>
          <h4>05 【実践】LP制作</h4>
          <ul>
            <li>LPとは何か？</li>
            <li>要件定義を確認しよう</li>
            <li>LP制作の流れ</li>
            <li>LPを制作しよう</li>
            <li>課題添削</li>
          </ul>
        </div>
      </div>
      <div class="white-frame">
        <%= image_tag "design_course/curriculum6.png" %>
        <div>
          <h4>06 【実践】コーポレート制作</h4>
          <ul>
            <li>コーポレート制作</li>
            <li>要件定義を確認しよう</li>
            <li>コーポレート制作の流れ</li>
            <li>コーポレートを制作使用</li>
            <li>課題添削</li>
          </ul>
        </div>
      </div>
      <div class="white-frame">
        <%= image_tag "design_course/curriculum7.png" %>
        <div>
          <h4>07 【実践編】案件獲得サポート</h4>
          <ul>
            <li>案件獲得サポートについて</li>
            <li>営業先リスト</li>
            <li>営業提案の方法</li>
            <li>面談でのポイント</li>
            <li>ポートフォリオをつくろう</li>
          </ul>
        </div>
      </div>
      <div class="white-frame">
        <%= image_tag "design_course/curriculum8.png" %>
        <div>
          <h4>08 マーケティング講座</h4>
          <ul>
            <li>売れるLPの作り方</li>
            <li>マーケティングの基礎</li>
            <li>ライティング</li>
            <li>集客戦略</li>
            <li>仕組み化</li>
          </ul>
        </div>
      </div>
      <div class="white-frame">
        <%= image_tag "design_course/curriculum9.png" %>
        <div>
          <h4>09 マーケティング講座2</h4>
          <ul>
            <li>SNS戦略</li>
            <li>アカウント設計</li>
            <li>商品設計</li>
            <li>マネタイズ戦略</li>
            <li>Lステップ運用事例</li>
          </ul>
        </div>
      </div>
    </div>
      <h3>教材参考動画</h3>
        <div class="movie_container">
          <% @movies.each do |movie| %>
            <div class="movie_innner">
              <%= embed_youtube(movie.url) %>
              <p>
                <%= movie.title%>
              </p>
            </div>
          <% end %>
        </div>
      <div class="cta-btn">
        <%= render 'design_application' %>
      </div>
    </section>

  <section class="flow-wrapper wrapper">
    <div class="gra-title">
      <h2>FLow</h2>
      <h5>講座の流れ</h5>
    </div>

    <div class="flow-flex">
      <div class="flow-container">
        <%= image_tag "design_course/flow1.png" %>
          <h5>01. 専用コミュニティに参加</h5>
          <p>やんばるエキスパートはメンターによる学習サポート付き！Slackというチャットツールでやんばるエキスパート公式サポートのコミュニティに参加します。</p>
      </div>
      <div class="blue-arrow"> </div>
      <div class="flow-container">
        <%= image_tag "design_course/flow2.png" %>
          <h5>02. WEBデザイン学習スタート！</h5>
          <p>準備ができたら講義をもとに学習開始！講義は動画中心なので、実際に手を動かしながらスキルアップを実感できます！</p>
      </div>
      <div class="blue-arrow"></div>
      <div class="flow-container">
        <%= image_tag "design_course/flow3.png" %>
          <h5>03. 詰まったらメンターに質問！</h5>
          <p>分からないことがあったらメンターに質問してみましょう。ただ答えを教えるのではなく、自分で課題を解決する力が身につくように導きます！</p>
      </div>
      <div class="blue-arrow"></div>
      <div class="flow-container">
        <%= image_tag "design_course/flow4.png" %>
          <h5>04. プロによるデザイン添削</h5>
          <p>課題で制作したデザインは、現役デザイナーによる添削を受けられます</p>
      </div>
      <div class="blue-arrow"></div>
      <div class="flow-container">
        <%= image_tag "design_course/flow5.png" %>
          <h5>05. 営業・案件獲得サポート</h5>
          <p>課題をクリアしたら、実案件の獲得に向けた営業ノウハウを学びましょう。案件獲得向けてメンターがサポートします。</p>
      </div>
    </div>
  </section>


  <!-- 料金セクション -->
  <section class="price-wrapper wrapper">
    <div class="blue-circle">
      <div class="gra-title">
        <h2>Price</h2>
        <h5>料金</h5>
      </div>
      <div class="white-frame">
        <h4>WEBデザイン講座</h4>
        <div class="accent-block"></div>
        <h3 class="before-price">通常料金<span>150,000</span>円</h3>
        <div class="after-price">
          <%= image_tag "design_course/cost-icon.png" %>
            <h1>49,800</h1>
        </div>
        <ul>
          <li>売上5万円稼ぐまで案件獲得サポート</li>
          <li>無制限のカリキュラム閲覧権</li>
          <li>メンターへ質問し放題</li>
          <li>プロの添削付き</li>
          <li>マーケティング講座付き</li>
          <li>コンテンツ追加しても追加料金ゼロ</li>
        </ul>
      </div>
      <div class="cta-btn">
        <%= render 'design_application' %>
      </div>
    </div>
  </section>

  <section class="profile-wrapper wrapper">
    <div class="gra-title">
      <h2>Profile</h2>
      <h5>代表・講師紹介</h5>
    </div>

    <div class="profile-container">
      <div class="profile-inner">
        <div>
          <div class="profile">
            <%= image_tag "design_course/profile-img-k.png" %>
            <h5>代表・開発者</h5>
            <p>かみざと</p>
          </div>
        </div>
        <div class="message">

        <h4>デザイン × マーケティング最強ビジネススキルで人生に革命を</h4>
        <p class="profile-text">はいさい、かみざとです！<br><br>
          僕は現在、沖縄でのんびり暮らしながら、お金にも時間にも困らない余裕のある毎日を過ごしています。<br><br>
          、、、ということを書くと順風満帆な人生を想像されると思いますが、実際は「マーケティングを意識したデザイン」に出会うまで、いまいちパッとしないビジネスライフを送ってました。<br><br>
          <span>やっぱりデザインの威力って凄いんです。</span><br><br>
          ここを軽視していた為に、僕は月商500万の成果を出すまでに6年もかかってしまいました。<br>
          というのも、僕はこれまでエンジニア教育をやってきたのですが、自分の商品のランディングページを持っておらず、いつもブログで商品情報をまとめてたんです。<br><br>
          「カッコつけたデザインなんか無くても文章良ければ売れるんじゃ〜！！！」<br>
          そんな考えでいたから、結果はまぁ、、、売れませんよね笑<br>
          その時は月商100万いくのがやっと。「200万、300万になるにはどうすれば良いんだろう？」と悩む日々が続きました。<br>
          そこに追い討ちをかけるようにコロナの襲来。そこを機にSNSのフォロワーもどんどん減り、売り上げも下がる一方。重なる時は重なります。<br><br>
          「もしかしたら自分はここが限界なのかもしれない」<br><br>
          そう考えて落ち込んだりもしました。
          でも、それからやっと自身の商品紹介ページを見直し、改めてデザインの重要性に目を向けてみたんです。<br>
          「自分の商品をデザインでもっとカッコよく見せたら売れるんじゃないか？そこに僕のマーケティング的な視点が加われば最強になるんじゃないか？」
          そう考え、僕はデザイナーさんに商品のランディングページを外注することになりました。
          それから1ヶ月後、出来上がりを見て驚きます。<br>
          「こんなにわかりやすく僕の商品の魅力を伝えてくれるの！？文章だけの紹介と全然違うじゃん！」
          もうあまりにも伝わりやすさが違いすぎて、目ん玉が飛び出て地球一周しました。こんなに違いが出るとは思ってなかったんです。そりゃ自分で文章書いただけのブログ記事じゃ売れないわけだなと。<br><br>
          で、いざそのランディングページを使って販売を始めると、<span>あっという間に月商300万、400万の人気サービスに成長しました。</span>
          それが現在の「やんばるエキスパート」です。<br><br>
          という感じで、やはり商品を売る為にデザインは必要不可欠です。もしマーケティング的な目線も持ち合わせたデザインが出来れば、それはビジネスにおいて最強の武器となるでしょう。<br><br>
          だから、この講座を受講する皆さんも、マーケティングが出来るデザイナーになって頂けたら嬉しいなと考えています。デザイナーさんを育てる為の当講座に、マーケティングの動画教材を20本以上用意したのもその為です。<br>
          ぜひ僕たちと一緒に、今のデザイナー界に革命を起こしていきましょう！
        </p>
        </div>
      </div>

      <div class="profile-inner even">
      <div class="profile">
        <%= image_tag "design_course/profile-img-y.jpeg" %>
        <h5>メンター・開発者</h5>
        <p>ゆーすけ</p>
      </div>
      <div class="message y-message">
        <h4>時間・場所・関係「自分らしい」人生を!</h4>
        <p class="profile-text"><span>webデザインを中心にフリーランスをしているゆーすけです。</span><br><br>
          一度っきりの人生なんだから他人の敷いたレールではなく「自分らしく」生きたい！そう思って数年前に大学中退を決意しました。<br>
          辛いこともありましたし体調を崩すこともありました。<br><br>
          <span>しかし今では、時間も場所もとらわれない「自分らしい」自由な生活を謳歌しています。</span>
          webデザインを頑張ろうって決意している方の中にも自由に生きたいって望む方も多いのではないでしょうか。<br>でも時間や場所、人間関係に縛られない「自由」ってどうすれば手に入るか分からないんですよね。<br><br>
          <span>でもそんな悩みをやんばるエキスパートは解消してくれます。</span>私自身も本講座を通してスキル面だけでなく、心の底で望んで入るものの挑戦できていない方のサポートをしていきたいと思い本講座に参画いたしました。
        </p>
      </div>
    </div>
  </div>
  </section>

  <section class="present-wrapper wrapper">
    <div class="gra-title">
      <h2>Present</h2>
      <h5>特典</h5>
    </div>
    <div class="white-frame">
      <div class="title-container">
        <div class="present-number radius-left">
          <%= image_tag "design_course/support-icon.png" %>
            <h5>特典1</h5>
        </div>
        <h4 class="radius-right">専用チャットコミュニティへの参加権</h4>
      </div>
      <div class="title-container">
        <%= image_tag "design_course/support1.png", class: "present-img" %>
          <p>初心者から上級者まで色んなフェーズの方々と交流が持てます</p>
      </div>
    </div>
    <div class="white-frame">
      <div class="title-container n2">
        <div class="present-number radius-right">
          <%= image_tag "design_course/support-icon.png" %>
            <h5>特典2</h5>
        </div>
        <h4 class="radius-left">月収100万円も夢じゃない！お金を稼ぐ戦略</h4>
      </div>
      <div class="title-container n2">
        <%= image_tag "design_course/support2.png", class: "present-img" %>
          <p>単価の高いデザイナーになるために必要なお金を稼ぐノウハウを教えます</p>
      </div>
    </div>
    <div class="white-frame">
      <div class="title-container">
        <div class="present-number radius-left">
          <%= image_tag "design_course/support-icon.png" %>
            <h5>特典3</h5>
        </div>
        <h4 class="radius-right">やんばる限定！デザイン関連のお仕事紹介</h4>
      </div>
      <div class="title-container">
        <%= image_tag "design_course/support3.png", class: "present-img" %>
          <p>やんばるエキスパート内で依頼があったWebデザインのお仕事を受講生の方へ依頼する限定コミュニティへ招待します。
            講座を完走して一定レベルになれたこの環境でお仕事を体験してみることも可能です。</p>
      </div>
    </div>
    <div class="white-frame">
      <div class="title-container n2">
        <div class="present-number radius-right">
          <%= image_tag "design_course/support-icon.png" %>
            <h5>特典4</h5>
        </div>
        <h4 class="radius-left">追加料金ゼロ！エンジニア講座も閲覧し放題</h4>
      </div>
      <div class="title-container n2">
        <%= image_tag "design_course/support4.png", class: "present-img" %>
          <p>Webデザイン講座を受けるとエンジニア講座とやんばるエキスパート内の講座が閲覧し放題になります。
            さらに、今後追加予定のコンテンツも追加料金なしで見ることができます。</p>
      </div>
    </div>
    <div class="white-frame">
      <div class="title-container">
        <div class="present-number radius-left">
          <%= image_tag "design_course/support-icon.png" %>
            <h5>特典5</h5>
        </div>
        <h4 class="radius-right">コーディングの質問もOK！</h4>
      </div>
      <div class="title-container">
        <%= image_tag "design_course/support5.png", class: "present-img" %>
          <p>デザイナーにとってプログラミングの知識はある程度必要になってきます。やんばるエキスパートではデザイナーに必要なプログラミングの知識も質問し放題となっております。</p>
      </div>
    </div>
  </section>

  <section class="message-wrapper wrapper">
    <%= image_tag "design_course/chara-ok.png", class: "sp-img" %>
    <div class="message-frame">
      <%= image_tag "design_course/message-frame.png" %>
      <h3>最後に…</h3>
    </div>
    <p>この価格は<span>今月で終了</span>してしまいます。<br><br>

      「Webデザインスキルを身につけて、自分で稼ぐという一歩踏み出す勇気を与えたい」という想いで、<span>案件獲得サポート（無期限サポート）</span>を付けました。<br><br>

      ビジネスだけを考えれば、受講生は多い方がいいのですが、講座の質・サポートの手厚さを重視するために人数限定にしております。<br><br>

      <span>来月は10万円に値上げ</span>しますので、<br>
      この機会に新たな挑戦に一歩踏み出してみてください。
    </p>
    <div class="cta-btn">
      <%= render 'design_application' %>
    </div>
  </section>

  <!-- 質問関連制御 -->
  <section class="faq-wrapper wrapper">
    <div class="gra-title">
      <h2>FAQ</h2>
      <h5>よくある質問</h5>
    </div>
    <ul class="faq-list text-white">
      <%= render partial: "faq" , collection: @faqs %>
    </ul>
  </section>
    <!-- お問い合わせ -->
  <%= link_to 'お問い合わせ', 'https://yanbaru-expert.com/#contact', target: "_blank" %>
  <section class="footer-wrapper wrapper">
    <%= image_tag "design_course/servise-name.png" %>
  </section>
</section>
