<% content_for(:title) { "#{@genre}動画" } %>
<% content_for(:description) { "やんばるエキスパートの#{@genre}動画教材です。" } %>
<% if @genre == "デザイン課題" %>
  <div class="design-check-sheet">
    <div class="design-title">
      <p class="square">課題提出前<span class="small">の</span></p>
      <p class="big-title">セルフチェックシート</p>
    </div>
    <div class="design-check-content">
    <% @task_lists.each_with_index do |task,i| %>
      <div class="design-check-box">
        <div class="design-check-imgbox">
          <span><%= image_tag @categories[task[0].design_task_category_id-1].img.url ,width: "48" %></span>
          <span class="category-name"><%= @categories[task[0].design_task_category_id-1].name %></span>
        </div>
        <ul class="design-check-list">
          <% task.each_with_index do |task,j| %>
              <li class="list-content">
                <span><%= task.body %></span>
              </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    </div>

  </div>
<% end %>
<div class="contents-title text-center">
  <h1><%= @genre %> 動画</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <% @movies.each.with_index(@movies.offset_value + 1) do |movie, i| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-dark mb-3">
          <div class="card-header p-0">
            <div class="embed-responsive embed-responsive-16by9">
              <%= embed_youtube(movie.url) %>
            </div>
          </div>
          <div class="card-body text-dark movie-body">
            <p id="movie-<%= movie.id %>">
              <% if movie.completed_by(current_user) %>
                <%= render "progresses/completed", materiable: movie %>
              <% else %>
                <%= render "progresses/incompleted", materiable: movie %>
              <% end %>
            </p>
            <p class="card-text movie-title">
              <% if @code_name.nil? %>
                Lv.<%= i %>：<%= movie.title %>
              <% else %>
                <%= movie.title %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @movies %>
</div>
<%= render 'shared/banner' %>
